.imgItem{
    width: 80px;
}
table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: black;
    color: white;
}
tr:nth-child(even){
    background-color: rgb(218, 218, 218);
}
.botoneraPaginacion{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    margin-top: 50px;
    background-color: silver;
    #titFiltros{
        background-color: black;
        color: white;
        font-size: 20px;
        width: fit-content;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}
#btnSearch{
    margin-left: 100px;
}
label{
    margin-right: 10px;
}
#price{
    display: flex;
    flex-direction: row;
    input{
        height: 30px;
    }
}
